<div class="row">
    <div *ngFor="let photo of photoList" class="col-md-4 p-4">
        <div class="card card-photo" (click)="selectedCard(photo._id)">
            <div class="card-header bg-dark text-white">
                {{photo.title}}
            </div>
            <img [src]="'http://localhost:4000/' + photo.imagePath" class="img-card-top w-100" alt="{{photo.title}}">
            <div class="card-body">
                {{photo.description}}
            </div>
        </div>
    </div>
</div>